/*header*/
header{

   

}

/*body*/
.formulaire {

   

}


section{


     input{
        height: 3%;
     }

    .form-check-label{
        


    }



.form-text{
   
}
   

  .btn{
    width: 13%;
    border-radius: 60px;
    
    }

    #submit-btn{
        border-radius: 60px;
        width: max-content;

    }
    
    
    
     p a{
        color: black;
        position: relative;
       
      }
      

      

}





#Before-Footer{
     ul{
        font-size: 13px;
        gap: 1px 60px;
       
     :nth-child(3){
        height: max-content;
        border-radius: 60px;
     }
    
    
    }
}



#ul2{
   position: relative;
   left: 2px;
}